*~
Makefile
Makefile.in
autom4te.cache/
config.log
config.status
configure
*cheddar.xml

aclocal.m4
doc/aadl-sed-stamp
doc/asn1_types.aadl
doc/bounded_array.ada
doc/bounded_str.ada
doc/complex_types.aadl
doc/data_struct.ada
doc/device_drivers.aadl
doc/do_ping_spg.aadl
doc/gnat.adc
doc/hardware.aadl
doc/hi-e.adc
doc/native.adc
doc/node_a_activity.ads
doc/node_a_activity_full.ads
doc/node_a_code.adb
doc/node_a_deployment.ads
doc/node_a_deployment_full.ads
doc/node_a_full.adb
doc/node_a_marshallers.ads
doc/node_a_model.aadl
doc/node_a_naming.ads
doc/node_a_subprograms.ads
doc/node_a_transport.ads
doc/node_a_types.ads
doc/ping.aadl
doc/ping_native.aadl
doc/polyorb-hi-ada_api.texi
doc/polyorb-hi-ada_ug.info
doc/polyorb_hi-hybrid_task.ads
doc/polyorb_hi-marshallers_g.ads
doc/polyorb_hi-messages.ads
doc/polyorb_hi-output.ads
doc/polyorb_hi-periodic_task.ads
doc/polyorb_hi-protocols.ads
doc/polyorb_hi-sporadic_task.ads
doc/polyorb_hi-thread_interrogators.ads
doc/polyorb_hi-transport_low_level.ads
doc/port_cnx.aadl
doc/processor_binding.aadl
doc/protected_obj_body.ada
doc/protected_obj_spec.ada
doc/protected_object_types.aadl
doc/scenario_local_gnat.aadl
doc/scenario_sample.aadl
doc/simple_types.aadl
doc/stamp-vti
doc/thread_a.aadl
doc/thread_a_full.aadl
doc/version.texi
support/config.guess
support/config.sub
support/install-sh
support/missing
support/texinfo.tex
support/headers_po_hi*

examples/aadlv1/d3.1.3-1_extended/probe_native/
examples/aadlv1/import/ping_native/
examples/aadlv1/mpc/mpc_native/
examples/aadlv1/ping/ping_native/
examples/aadlv1/producer_consumer/pc_simple_native/
examples/aadlv1/rap/rap_native/
examples/aadlv1/ravenscar_example/case_study_native/
examples/aadlv1/some_types/some_types_native/
examples/aadlv1/subprogram_ports/subprogram_ports_native/
examples/aadlv1/sunseeker/sunseekercontrolsystem_type_native/
examples/aadlv2/d3.1.3-1/toy_example_native/
examples/aadlv2/d3.1.3-1_extended/probe_native/
examples/aadlv2/delayed_connections/delayed_connections_native/
examples/aadlv2/device_drivers/the_demo_impl/
examples/aadlv2/flight_mgmt/flight_mgmt_native/
examples/aadlv2/import/ping_leon/
examples/aadlv2/import/ping_native/
examples/aadlv2/mode_switch/test_modes_ce_erc32/
examples/aadlv2/mode_switch/test_modes_cs_erc32/
examples/aadlv2/mpc/mpc_native/
examples/aadlv2/multiple_instances/multiple_instances_native/
examples/aadlv2/ping/build.sh
examples/aadlv2/ping/log
examples/aadlv2/ping/ping_local/
examples/aadlv2/ping/ping_native/
examples/aadlv2/ping/prove.sh
examples/aadlv2/ping_overflow/ping_native/
examples/aadlv2/prime_numbers/prime_numbers_native/
examples/aadlv2/producer_consumer/pc_simple_native/
examples/aadlv2/radar/radar_simple/
examples/aadlv2/ravenscar_example/case_study_native/
examples/aadlv2/rma/rma_erc32/
examples/aadlv2/some_types/some_types_native/
examples/aadlv2/subprogram_ports/subprogram_ports_native/
examples/aadlv2/sunseeker/sunseekercontrolsystem_type_native/
src/polyorb_hi.gpr
support/compile