*~
Makefile
Makefile.in
autom4te.cache/
config.log
config.status
configure
*cheddar.xml

aclocal.m4
doc/aadl-sed-stamp
doc/asn1_types.aadl
doc/bounded_array.ada
doc/bounded_str.ada
doc/complex_types.aadl
doc/data_struct.ada
doc/device_drivers.aadl
doc/do_ping_spg.aadl
doc/gnat.adc
doc/hardware.aadl
doc/hi-e.adc
doc/native.adc
doc/node_a_activity.ads
doc/node_a_activity_full.ads
doc/node_a_code.adb
doc/node_a_deployment.ads
doc/node_a_deployment_full.ads
doc/node_a_full.adb
doc/node_a_marshallers.ads
doc/node_a_model.aadl
doc/node_a_naming.ads
doc/node_a_subprograms.ads
doc/node_a_transport.ads
doc/node_a_types.ads
doc/ping.aadl
doc/ping_native.aadl
doc/polyorb-hi-ada_api.texi
doc/polyorb-hi-ada_ug.info
doc/polyorb_hi-hybrid_task.ads
doc/polyorb_hi-marshallers_g.ads
doc/polyorb_hi-messages.ads
doc/polyorb_hi-output.ads
doc/polyorb_hi-periodic_task.ads
doc/polyorb_hi-protocols.ads
doc/polyorb_hi-sporadic_task.ads
doc/polyorb_hi-thread_interrogators.ads
doc/polyorb_hi-transport_low_level.ads
doc/port_cnx.aadl
doc/processor_binding.aadl
doc/protected_obj_body.ada
doc/protected_obj_spec.ada
doc/protected_object_types.aadl
doc/scenario_local_gnat.aadl
doc/scenario_sample.aadl
doc/simple_types.aadl
doc/stamp-vti
doc/thread_a.aadl
doc/thread_a_full.aadl
doc/version.texi
support/config.guess
support/config.sub
support/install-sh
support/missing
support/texinfo.tex

